
<div class="header">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
  md-component-id="left">
  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>
      <span>
        Menu
      </span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
    <md-tooltip>Close Menu</md-tooltip>
    <md-icon md-svg-src="../css/close.svg" class="s48" aria-label="Close"></md-icon>
  </md-button>
</div>
</md-toolbar> 
<md-content layout-padding="">
<md-list>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary" ng-click="action='home';closeSideNavPanel()">Home</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='editClubDetails';closeSideNavPanel()">Edit Club Details</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addClubEvents';closeSideNavPanel()">Add Club Events</md-button>
</md-list-item>

<md-divider></md-divider>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary" ng-click="action='ChangePassword';closeSideNavPanel()">Change Password</md-button>
</md-list-item>
<md-list-item>
<a href="../index.html#/login"><md-button class="md-primary">Logout</md-button></a>
</md-list-item>

</md-list>
</md-content> 
</md-sidenav>

<md-toolbar>
<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Menu" ng-click="openSideNavPanel()">
  <md-tooltip>Menu</md-tooltip>
  <md-icon md-svg-src="../css/menu.svg" class="s48" aria-label="Menu"></md-icon>
</md-button>

<h2>
  <span>  <a ng-click="action='home'">
    {{user.name}}
    </a></span>
    </h2>
    <span flex=""></span>

  </md-button>
</div>
</md-toolbar>

</div>
<div ng-switch on="action">

<div class="row" ng-switch-when="home" flex> 

  <div layout-padding layout-margin><h1>Events</h1></div>
      <div layout="row" layout-wrap layout-margin layout-padding flex="50">
          <md-card flex="30" flex-sm="100" flex-md="50" ng-repeat="event in events track by $index" >
            
                <div flex='100' layout-padding layout-margin layout="column">
                <div layout="row">
                  <div layout="column">
                    <div>Name : {{event.name}}</div>
                    <div>Time : {{event.time | date : 'medium'}}</div>
                    <div>Venue : {{event.venue}} </div>
                    <div>Description : {{event.description}}</div>
                    
                  </div>
                  <div flex></div>
                 
                </div>

              </div>
          </md-card>
      </div>
    <div layout-padding layout-margin><h1>Clubs</h1></div>
      
      <div layout="row" layout-wrap layout-margin layout-padding flex="50">
          <md-card flex="30" flex-sm="100" flex-md="50" ng-repeat="club in clubs track by $index" >
            
              <div flex='100' layout-padding layout-margin layout="column">
                <div layout="row">
                  <div layout="column">
                    <div>Name : {{club.name}}</div>
                    <div>Description : {{club.description}}</div>
                  </div>
                  <div flex></div>
                 
                </div>
                <div>
                  Convenors : <div ng-repeat="convenor in club.convenors track by $index">{{$index +1}}. {{convenor.name}}</div>
                </div>
              
              </div>
          </md-card>
      </div>
    </div>


<div ng-switch-when="editClubDetails" >
  <div layout= "row" layout-wrap layout-fill layout-padding layout-margin>
      <md-card layout="column" ng-repeat="convenor in convenors track by $index" layout-fill layout-padding layout-margin flex="20" layout-wrap>
      <div layout="row">
        <div layout="column" flex>
          <div> {{$index + 1}}. Name : {{convenor.name}}</div>
            <div> Phone number : {{convenor.phoneNumber}}</div>
            <div> Email : {{convenor.email}}</div>
        </div>
        
      </div>
      </md-card>
      </div>
    


  <form >
      <div layout="column">
        <div style="height:50px"></div>
        <!--Club Name-->
        <div layout="row">
            <div flex="20"></div>
            <div flex="40">
            <md-input-container>
              <label>Club Name</label>
              <input type="text" ng-model="user.role.club.name" required></input>
              </md-input-container>
          </div>
          <div flex></div>
        </div>
   <!--Club Description-->
        <div layout="row">
          <div flex="20"></div>
          <div flex="40">
              <md-input-container flex>
                <label>Club Description</label>
                <textarea ng-model="user.role.club.description" columns="1" ></textarea>
            </md-input-container>
          </div>
          <div flex></div>
          </div>
    </form>   
<!--Submit-->
    <div layout="row">
        <div flex="50"></div>
        <md-button class="md-raised" ng-click=updateClub(user.role.club)>Update</md-button>
        
    </div>
  </div>

</div>

<div ng-switch-when="addClubEvents">
  <!--Add  Event-->
  <div layout="column">
    <div style="height:50px"></div>

    <!--Event Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Event name</label>
        <input type="text" ng-model="currentEvent.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Event Date-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Event date</label>
      <input type="date" ng-model="currentEvent.date" min="01-08-2015" max="31-12-2016">
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click=addEvent(currentEvent) >Submit</md-button>

</div>
<!---->
</div>
</div>

<div ng-switch-when="ChangePassword">
  <!--Change Password-->
  <div layout="column">
   <div style="height:50px"></div>


   <!--New Password-->
   <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Old Password</label>
      <input type="password" ng-model="oldPassword" required>
    </md-input-container>
   </div>
   <div flex></div>
  </div>
  <!---->
  <!-- Confirm Password -->
  <div layout="row">
   <div flex="20"></div>
   <div flex="40">
    <md-input-container>
    <label>New Password</label>
    <input type="password" ng-model="newPassword" required>
   </md-input-container>
  </div>
  <div flex></div>
</div>
<!--Submit-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click="changePassword(newPassword)">Submit</md-button>
</div>
<!---->
</div>
</div>
