
    <div class="header">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left">
  <md-toolbar layout="row">
   <div class="md-toolbar-tools">
        <h2>
          <span>Side Panel</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
       </div>
  </md-toolbar> 
  <md-content layout-padding="">
  <md-list>
    <md-subheader class="md-no-sticky"></md-subheader>
    <md-list-item>
      <md-button class="md-primary" ng-click="action='addClub'">Add club</md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-primary" ng-click="action='addConvenor'">Assign Convenors</md-button>
    </md-list-item>
    <md-list-item>
    <md-button class="md-primary" ng-click="action='addLitsocEvent'">Add Litsoc Events</md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky"></md-subheader>
    <md-list-item>
      <md-button class="md-primary">Send push notifications</md-button>
    </md-list-item>
   </md-list>
  </md-content> 
</md-sidenav>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
          <md-tooltip>Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>

        <h2>
          <span>{{user.name}}</span>
        </h2>
        <span flex=""></span>
        
        <md-button class="md-icon-button" aria-label="More">
         
        </md-button>
      </div>
    </md-toolbar>
 
</div>
<div ng-switch on="action">
  <div ng-switch-when="addClub" >
      <div layout="column">
      <!--Club Name-->
      <div layout="row">
      <div flex="20"></div>
      <div flex="40">
      <md-input-container>
      <label>Club Name</label>
      <input type="text" ng-model="club.name" required>
      </md-input-container>
      </div>
      <div flex></div>
      </div>
      <!---->
      <!--Club Description-->
      <div layout="row">
      <div flex="20"></div>
      <div flex="40">
      <md-input-container flex>
        <label>Club Description</label>
        <textarea ng-model="club.description" columns="1" ></textarea>
      </md-input-container>
      </div>
      <div flex></div>
      </div>
      <!---->
      <!--Submit/Reset-->
      <div layout="row">
      <div flex="45"></div>
      <md-button class="md-raised" ng-click=addClub(club)>Submit</md-button>
      <md-button class="md-raised">Reset</md-button>
      </div>
      </div>

  </div>

  <div ng-switch-when="addConvenor">
          <!--Add convenors-->
      <div layout="column">

       <!--Convenor Name-->
       <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container>
          <label>Convenor name</label>
          <input type="text" ng-model="convenor_name" required>
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
    <!--Convenor Roll No-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Convenor Roll No</label>
        <input type="text" ng-model="convenor_roll_no" required>
      </md-input-container>
    </div>
    <div flex></div>
    </div>
    <!---->
    <!--Submit/Reset-->
    <div layout="row">
      <div flex="45"></div>
      <md-button class="md-raised">Submit</md-button>
      <md-button class="md-raised" ng-click="reset()">Reset</md-button>

    </div>
    <!---->
  </div>
</div>

<div ng-switch-when="addLitsocEvent">
          <!--Add Litsoc Event-->
      <div layout="column">

       <!--Event Name-->
       <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container>
          <label>Event name</label>
          <input type="text" ng-model="event_name" required>
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
    <!--Event Date-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
          <label>Event date</label>
          <input type="date" ng-model="event_date">
        </md-input-container>
    </div>
    <div flex></div>
    </div>
    <!---->
    <!--Submit/Reset-->
    <div layout="row">
      <div flex="45"></div>
      <md-button class="md-raised">Submit</md-button>
      <md-button class="md-raised" ng-click="reset()">Reset</md-button>

    </div>
    <!---->
  </div>
</div>
