
<div class="header">

  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>
      <span>Side Panel</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
    <md-tooltip>Close Side Panel</md-tooltip>
    <md-icon md-svg-src="../css/close.svg" class="s48" aria-label="Close"></md-icon>
    <!-- <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon> -->
  </md-button>
</div>
</md-toolbar> 
<md-content layout-padding="">
<md-list>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary" ng-click="action='addClub'">Add club</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addConvenor'">Assign Convenors</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addLitsocEvent'">Add Litsoc Events</md-button>
</md-list-item>
<md-divider></md-divider>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary">Send push notifications</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='ChangePassword'">Change Password</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="Logout()">Logout</md-button>
<div flex="5"></div>
</md-list-item>
</md-list>
</md-content> 
</md-sidenav>
<!-- Sidenav -->
<!-- Toolbar -->
<md-toolbar>
<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
  <md-tooltip>Menu</md-tooltip>
      <md-icon md-svg-src="../css/menu.svg" class="s48" aria-label="Menu"></md-icon>
</md-button>

<h2>
  <span>{{user.name}}</span>
</h2>
<span flex=""></span>

<md-button class="md-icon-button" aria-label="More">

</md-button>
</div>
</md-toolbar>

<!-- Toolbar -->

</div>
<div ng-switch on="action">

  <div class="row" ng-switch-when="home" layout="row" layout-wrap layout-margin layout-padding>
    <!-- <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in events">
        <li><a href="#" tooltip="{{thing.name}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div> -->
    <md-card flex="25" flex-sm="100" flex-md="50" ng-repeat="event in events" >
    <div flex='100'>
      Name : {{event.name}} <br>
      Time : {{ event.time | date:'medium'}}
    </div>
    </md-card>
  </div>

  <!-- Adding new club -->
  <div ng-switch-when="addClub" >


  <form >
      <div layout="column">
        <div style="height:50px"></div>
        <!--Club Name-->
        <div layout="row">
          <div flex="20"></div>
          <div flex="40">
            <md-input-container>
            <label>Club Name</label>
            <input type="text" name="clubName" ng-model="club.name" required> 
          </md-input-container>
        </div>
        <div flex></div>
      </div>


      <!---->
      <!--Club Description-->
      <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container flex>
          <label>Club Description</label>
          <textarea ng-model="club.description" columns="1" ></textarea>
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
  </form>   
  <!--Submit-->
  <div layout="row">
    <div flex="50"></div>
    <md-button class="md-raised" ng-click="addConvenors=true">Add convenor</md-button>
  </div>
   </div>

   <div ng-show="addConvenors">
    <form name="addConvenor">
      <div layout="column">
        <div style="height:50px"></div>

        <!--Convenor Name-->
        <div layout="row">
          <div flex="20"></div>
          <div flex="40">
            <md-input-container>
            <label>Convenor name</label>
            <input type="text" ng-model="convenor.name" required name="convenorName">
          </md-input-container>
        </div>
        <div flex></div>
      </div>
      <!---->
      <!--Convenor Roll No-->
      <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container>
          <label>Convenor Roll No</label>
          <input type="text" ng-model="convenor.roll_no" required name="convenorRollNo">
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
  </form>
  <!--Submit-->
  <div layout="row">
    <div flex="50"></div>
    <md-button class="md-raised" ng-click="addConvenor(convenor);reset()" ng-disabled="addConvenor.convenorName.$error.required||addConvenor.convenorRollNo.$error.required||addClub.clubName.$error.required" >Submit</md-button>
  </div>
</div>
</div>
</div>


  <!-- Assigning convenors to existing club  -->
  <div ng-switch-when="addConvenor">
      <div layout="column">
      <div style="height:50px"></div>

      <div layout="row">
        <div flex="20"></div>
        <div flex="40">
        <md-input-container>
          <label>Club</label>
          <md-select ng-model="convenor.club">
            <md-option ng-repeat="club in clubs" value="{{club._id}}">{{club.name}}</md-option>
          </md-select>
        </md-input-container>
        </div>
      <div flex></div>
    </div>

       <!--Convenor Name-->
       <div layout="row">
        <div flex="20"></div>
        <div flex="40">
           <!-- Club name -->
          <md-input-container>
          <label>Convenor name</label>
          <input type="text" ng-model="convenor.name" required name="convenorName">
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
    <!--Convenor Roll No-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Convenor Roll No</label>
       <input type="text" ng-model="convenor.rollNumber" required>
      </md-input-container>
    </div>
    <div flex></div>
    </div>
    <!---->
    <!--Submit-->
    <div layout="row">
      <div flex="45"></div>
      <md-button class="md-raised" ng-click=addConvenor(convenor) >Submit</md-button>
      <md-button class="md-raised" ng-click="reset()">Reset</md-button>

    </div>
    <!---->

  </div>
  <!---->
</form>
<!--Submit-->


</div>

<div ng-switch-when="addLitsocEvent">
  <form name="addLitsocEvent">
    <!--Add Litsoc Event-->
    <div layout="column">
      <div style="height:50px"></div>

      <!--Event Name-->
      <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container>
          <label>Event name</label>
          <input type="text" ng-model="event.name" required name="eventName">
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
    <!--Event Date-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Event date</label>
        <input type="date" ng-model="event.date" name="eventDate" min="01-08-2015" max="31-12-2016" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
</form>
<!---->
<!--Submit-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-disabled="addLitsocEvent.eventName.$error.required||addLitsocEvent.eventDate.$error.required" ng-click=addLitsocEvent(event)>Submit</md-button>

</div>
<!---->
</div>
</div>

<div ng-switch-when="ChangePassword">
  <!--Change Password-->
  <form name="changePassword">
    <div layout="column">
      <div style="height:50px"></div>


      <!--New Password-->
      <div layout="row">
        <div flex="20"></div>
        <div flex="40">
          <md-input-container>
          <label>New Password</label>
          <input type="password" ng-model="new_password" name="newPassword" required>
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <!---->
    <!-- Confirm Password -->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Confirm Password</label>
        <input type="password" ng-model="confirm_password" name="confirmPassword" required compare="new_password">
        <div class="error" ng-show="changePassword.confirmPassword.$error.compare">Passwords dont match</div>

      </md-input-container>

    </div>
    <div flex></div>
  </div>

</div>

</form>
<!--Submit-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-disabled="changePassword.newPassword.$error.required||changePassword.confirmPassword.$error.required||changePassword.confirmPassword.$error.compare" ng-click='changePassword(new_password)'>Submit</md-button>
</div>
<!---->
</div>
</div>
