
<div class="header">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
  md-component-id="left">
  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>
      <span>
        Menu
      </span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
    <md-tooltip>Close Menu</md-tooltip>
    <md-icon md-svg-src="../css/close.svg" class="s48" aria-label="Close"></md-icon>
  </md-button>
</div>
</md-toolbar> 
<md-content layout-padding="">
<md-list>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary" ng-click="action='home';closeSideNavPanel()">Home</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addNextYearSec'">Add next year Sec</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addCores'">Add Cores</md-button>
</md-list-item>

<md-divider></md-divider>
<md-subheader class="md-no-sticky">Reset Data</md-subheader>

<md-list-item>
<md-button class="md-primary" ng-click="action='removeConvenors'">Remove Convenors</md-button>
</md-list-item>

<md-list-item>
<md-button class="md-primary" ng-click="action='markEventsAsNotActive'">Mark Events as Not Active</md-button>
</md-list-item>

<md-list-item>
<md-button class="md-primary" ng-click="action='ChangePassword'">Change Password</md-button>
</md-list-item>
<md-list-item>
<a href="../index.html"><md-button class="md-primary">Logout</md-button></a>
</md-list-item>

</md-list>
</md-content> 
</md-sidenav>

<md-toolbar>
<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Menu" ng-click="openSideNavPanel()">
  <md-tooltip>Menu</md-tooltip>
  <md-icon md-svg-src="../css/menu.svg" class="s48" aria-label="Menu"></md-icon>
</md-button>

<h2>
  <span>  <a ng-click="action='home'">
   {{user.name}}
    <a></span>
    </h2>
    <span flex=""></span>

  </md-button>
</div>
</md-toolbar>

</div>
<div ng-switch on="action">


  <div class="row" ng-switch-when="home" flex> 

  <div layout-padding layout-margin><h1>Events</h1></div>
      <div layout="row" layout-wrap layout-margin layout-padding flex="50">
          <md-card flex="30" flex-sm="100" flex-md="50" ng-repeat="event in events" >
            
                <div flex='100' layout-padding layout-margin layout="column">
                <div layout="row">
                  <div layout="column">
                    <div>Name : {{event.name}}</div>
                    <div>Time : {{event.time | date : 'medium'}}</div>
                    <div>Venue : {{event.venue}} </div>
                    <div>Description : {{event.description}}</div>
                    
                  </div>
                  <div flex></div>
                 
                </div>

              </div>
          </md-card>
      </div>
    <div layout-padding layout-margin><h1>Clubs</h1></div>
      
      <div layout="row" layout-wrap layout-margin layout-padding flex="50">
          <md-card flex="30" flex-sm="100" flex-md="50" ng-repeat="club in clubs" >
            
              <div flex='100' layout-padding layout-margin layout="column">
                <div layout="row">
                  <div layout="column">
                    <div>Name : {{club.name}}</div>
                    <div>Description : {{club.description}}</div>
                  </div>
                  <div flex></div>
                 
                </div>
                <div>
                  Convenors : <div ng-repeat="convenor in club.convenors">{{$index +1}}. {{convenor.name}}</div>
                </div>
              
              </div>
          </md-card>
      </div>
    </div>


<div ng-switch-when="addNextYearSec" >
  <div layout="column">
    <div style="height:50px"></div>
    <!--Club Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Secretary Name</label>
        <input type="text" ng-model="secretary.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Club Description-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container flex>
      <label>Secretary Roll No</label>
      <input ng-model="secretary.rollNumber" columns="1"></inputs>
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click="addSec(secretary)">Submit</md-button>
</div>
</div>

</div>

<div ng-switch-when="addCores">
  <!--Add  Event-->
  <div layout="column">
    <div style="height:50px"></div>

    <!--Event Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Core name</label>
        <input type="text" ng-model="core.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Event Date-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Core Roll No date</label>
      <input type="text" ng-model="core.rollNumber">
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click="addCore(core)">Submit</md-button>

</div>
<!---->
</div>
</div>

<div ng-switch-when="removeConvenors">

  <div layout= "row" layout-wrap layout-fill layout-padding layout-margin ng-hide="removeConv">
      <md-card layout="column" ng-repeat="convenor in convenors" layout-fill layout-padding layout-margin flex="20" layout-wrap>
      <div layout="row">
        <div layout="column" flex>
          <div> {{$index + 1}}. Name : {{convenor.name}}</div>
            <div> Phone number : {{convenor.phoneNumber}}</div>
            <div> Email : {{convenor.email}}</div>
        </div>
        <div>
          <md-button class="md-icon-button" ng-click='removeExistingConvenor(convenor);removeConv=1'>
            <md-tooltip>Remove Convenor</md-tooltip>
          <md-icon md-svg-src="../css/clear.svg" class="s48"></md-icon>
          </md-button>
        </div>
      </div>
      </md-card>
      </div>
  <!--Add  Event-->
  <div layout="column">
    <div style="height:50px"></div>

    <!--Event Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Convenor name</label>
        <input type="text" ng-model="core.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Event Date-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Core Roll No date</label>
      <input type="text" ng-model="core.rollNumber">
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click="addCore(core)">Submit</md-button>

</div>
<!---->
</div>
</div>


<div ng-switch-when="ChangePassword">
  <!--Change Password-->
  <div layout="column">
   <div style="height:50px"></div>


   <!--New Password-->
   <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Old Password</label>
      <input type="password" ng-model="oldPassword" required>
    </md-input-container>
   </div>
   <div flex></div>
  </div>
  <!---->
  <!-- Confirm Password -->
  <div layout="row">
   <div flex="20"></div>
   <div flex="40">
    <md-input-container>
    <label>New Password</label>
    <input type="password" ng-model="newPassword" required>
   </md-input-container>
  </div>
  <div flex></div>
</div>
<!--Submit-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-click="changePassword(newPassword)">Submit</md-button>
</div>
<!---->
</div>
</div>
