
<div class="header">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
  md-component-id="left">
  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>
      <span>
        Menu
      </span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
    <md-tooltip>Close Menu</md-tooltip>
    <md-icon md-svg-src="../css/close.svg" class="s48" aria-label="Close"></md-icon>
  </md-button>
</div>
</md-toolbar> 
<md-content layout-padding="">
<md-list>
<md-subheader class="md-no-sticky"></md-subheader>
<md-list-item>
<md-button class="md-primary" ng-click="action='addNextYearSec'">Add next year Sec</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="action='addCores'">Add Cores</md-button>
</md-list-item>

<md-divider></md-divider>
<md-subheader class="md-no-sticky">Reset Data</md-subheader>

<md-list-item>
<md-button class="md-primary" ng-click="action='removeConvenors'">Remove Convenors</md-button>
</md-list-item>

<md-list-item>
<md-button class="md-primary" ng-click="action='markEventsAsNotActive'">Mark Events as Not Active</md-button>
</md-list-item>

<md-list-item>
<md-button class="md-primary" ng-click="action='changePassword'">Change Password</md-button>
</md-list-item>
<md-list-item>
<md-button class="md-primary" ng-click="logout()">Logout</md-button>
</md-list-item>

</md-list>
</md-content> 
</md-sidenav>

<md-toolbar>
<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Menu" ng-click="openSideNavPanel()">
  <md-tooltip>Menu</md-tooltip>
  <md-icon md-svg-src="../css/menu.svg" class="s48" aria-label="Menu"></md-icon>
</md-button>

<h2>
  <span>  <a ng-click="action='home'">
    <!-- {{user.name}} -->Secretary
    <a></span>
    </h2>
    <span flex=""></span>

  </md-button>
</div>
</md-toolbar>

</div>
<div ng-switch on="action">


  <div class="row" ng-switch-when="home" layout="row" layout-wrap layout-margin layout-padding>
    <md-card flex="25" flex-sm="100" flex-md="50" ng-repeat="event in events" >
    <div flex='100'>
<!-- Name : {{event.name}} <br>
  Time : {{ event.time | date:'medium'}} -->
</div>
<div layout-align="end" layout="row" >
  <md-button>
  <md-tooltip>Edit</md-tooltip>
  <md-icon md-svg-src="../css/edit.svg" class="s48" aria-label="edit"></md-icon>
</md-button>
</div>
</md-card>
</div>


<div ng-switch-when="addNextYearSec" >
  <div layout="column">
    <div style="height:50px"></div>
    <!--Club Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Secretary Name</label>
        <input type="text" ng-model="secretary.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Club Description-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container flex>
      <label>Secretary Roll No</label>
      <input ng-model="secretary.rollNo" columns="1"></inputs>
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised" ng-disabled="">Submit</md-button>
</div>
</div>

</div>

<div ng-switch-when="addCores">
  <!--Add  Event-->
  <div layout="column">
    <div style="height:50px"></div>

    <!--Event Name-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>Core name</label>
        <input type="text" ng-model="core.name" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!--Event Date-->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Core Roll No date</label>
      <input type="text" ng-model="core.rollNo">
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!---->
<!--Submit/Reset-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised">Submit</md-button>

</div>
<!---->
</div>
</div>


<div ng-switch-when="changePassword">
  <!--Change Password-->
  <div layout="column">
    <div style="height:50px"></div>


    <!--New Password-->
    <div layout="row">
      <div flex="20"></div>
      <div flex="40">
        <md-input-container>
        <label>New Password</label>
        <input type="password" ng-model="new_password" required>
      </md-input-container>
    </div>
    <div flex></div>
  </div>
  <!---->
  <!-- Confirm Password -->
  <div layout="row">
    <div flex="20"></div>
    <div flex="40">
      <md-input-container>
      <label>Confirm Password</label>
      <input type="password" ng-model="confirm_password" required>
    </md-input-container>
  </div>
  <div flex></div>
</div>
<!--Submit-->
<div layout="row">
  <div flex="50"></div>
  <md-button class="md-raised">Submit</md-button>
</div>
<!---->
</div>
</div>
